name: Build and Release Electron App

on:
  push:
    tags:
      - 'v*'

permissions:
  contents: write

jobs:
  build:
    runs-on: windows-latest
    steps:
      - name: Checkout code
        uses: actions/checkout@v4

      - name: Setup Node
        uses: actions/setup-node@v4
        with:
          node-version: 20
          cache: 'npm'

      - name: Install dependencies
        run: npm ci

      - name: Build and Publish
        run: npm run build && npx electron-builder --windows --x64 --publish always
        env:
          GH_TOKEN: ${{ secrets.GITHUB_TOKEN }}